menu: [
  label: 'Packages'
  submenu: [
    label: 'Markdown Preview'
    submenu: [
      {label: 'Toggle Preview', command: 'markdown-preview:toggle'}
      {label: 'Toggle Break on Single Newline', command: 'markdown-preview:toggle-break-on-single-newline'}
      {label: 'Toggle GitHub Style', command: 'markdown-preview:toggle-github-style'}
    ]
  ]
]

'context-menu':
  '.markdown-preview': [
    {label: 'Select All', command: 'markdown-preview:select-all'}
  ]
  '.markdown-preview.has-selection': [
    {label: 'Copy', command: 'core:copy'}
  ]
  '.markdown-preview:not(.has-selection)': [
    {label: 'Copy As HTML', command: 'core:copy'}
  ]
